<h1>Superhero Team!</h1>
<p>Team Name: <%= @team.name %> </p>
<p>Team Motto: <%= @team.motto %> </p>

<h1>Hero 1</h1>
<% @superheroes.each_with_index do |hero, index|%>
  <% if index == 0 %> 
  <p>Name: <%= hero.name%></p>
  <p>Power: <%= hero.power%></p>
  <p>Biography: <%= hero.bio%></p>
  <% end %> 
<% end %> 

<h1>Hero 2</h1>
<% @superheroes.each_with_index do |hero, index|%>
  <% if index == 1 %> 
  <p>Name: <%= hero.name%></p>
  <p>Power: <%= hero.power%></p>
  <p>Biography: <%= hero.bio%></p>
  <% end %> 
<% end %> 

<h1>Hero 3</h1>
<% @superheroes.each_with_index do |hero, index|%>
  <% if index == 2 %> 
  <p>Name: <%= hero.name%></p>
  <p>Power: <%= hero.power%></p>
  <p>Biography: <%= hero.bio%></p>
  <% end %> 
<% end %> 




